.site-nav {
	padding: 2rem 0;

    @include media-breakpoint-down(md) {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
		z-index: 1030;
		padding: 0.5rem 0;
        background: $white;
    }

    .menu-shown & {
        background: transparent;
        border-color: transparent;
        transition: 0s;
    }

    .container {
		position: relative;
        display: flex;
        flex-direction: row;
		align-items: center;		
		background: url(/assets/img/header/welcome.png) 75px center no-repeat;
		background-size: auto 100%;

		@include media-breakpoint-up(lg) {
			background-position: 125px center;
			background-size: 33%;
		}			
    }

    // logo
    .navbar-brand {
        width: 50px;
        height: 53px;
        padding: 0;
        transition: all 0.25s;

        @include media-breakpoint-up(lg) {
            width: 100px;
			height: 106px;
        }
	}
	
	.logo { fill: $blue; }
	.logo-text { fill: #333; }

    .navbar-nav {
        flex-direction: row;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    .nav-item {
        display: flex;
        align-items: center;
    }

	// primary menu items
	.nav-item + .nav-item {
        margin-left: 0.75rem;

        @include media-breakpoint-up(xl) {
            margin-left: 1.5rem;
        }
	}

	.nav-link {
		padding: 0.5rem 1rem;
		font-weight: 600;
		transition: color 0.2s;
		font-size: 0.9375rem;
		user-select: none;
		letter-spacing: -0.01em;
		color: #303642;
	}

	.nav-item .nav-link:hover {
		color: $blue;
	}

    .dropdown-toggle {
        // make room for the arrow
        padding-right: 2rem;

    	&::before, &::after {
    		/* this is the arrow inside the dropdown trigger*/
    		content: '';
    		display: block;
    		position: absolute;
    		top: 50%;
    		height: 2px;
    		width: 8px;
    		background: #AEAEAE;
    		backface-visibility: hidden;
    		transition: background-color 0.15s ease-in-out, width .15s ease-in-out, transform .15s ease-in-out;
    		border: 0;
    	}

    	&::before {
    		right: 16px;
    		transform: rotate(45deg);
    	}

    	&::after {
    		right: 11px;
    		transform: rotate(-45deg);
    	}
    }

    // dropdown is open
    .show .dropdown-toggle {
    	&::before, &::after {
    		/* transform the arrow into a 'X' */
    		width: 12px;
    	}

    	&::before {
    		/* transform the arrow into a 'X' */
    		transform: translateX(5px) rotate(-45deg);
    	}

    	&::after {
    		/* transform the arrow into a 'X' */
    		transform: rotate(45deg);
    	}
	}
	
	.btn.dropdown-toggle {
		@include media-breakpoint-up(lg) {
			font-size: 0.9375rem;
	
			&::before, &::after {
				background: $blue;
			}
		}
	}
	
	.btn.dropdown-toggle:hover,
	.show .btn.dropdown-toggle {
		&::before, &::after {
			background: #fff;
		}
	}

	.dropdown .dropdown-menu {
        position: absolute;
        visibility: hidden;
		display: block;
		opacity: 0;
		min-width: 12em;
        top: 130%;
		backface-visibility: hidden;
		transform: translateZ(0);
		transform: translateY(0.5rem);
		transition: opacity 0.2s 0s, visibility 0s 0.2s, transform 0.2s 0s;
        box-shadow: 0 40px 100px rgba(50,50,93,.1), 0 10px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);

		// dropdown menu top arrow
		&::before {
			content: "";
			position: absolute;
			top: -10px;
			left: 1rem;
			z-index: 1;
			width: 21px;
			height: 15px;
			background: url(/assets/img/dropdown-arrow.png) 0 0 no-repeat;
			background-size: 21px auto;
		}
	}

	// right aligned dropdown menus
	.dropdown .dropdown-menu.dropdown-menu-right {
		right: 0;
		left: auto;

		&::before {
			right: 1rem;
			left: auto;
		}
	}

	// dropdown shown
	.dropdown.show .dropdown-menu {
		display: block;
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
		transition: opacity 0.2s 0s, visibility 0.2s 0s, transform 0.2s 0s;
	}

	.dropdown-item {
		font-size: 0.9375rem;
		padding: 0.8rem 1.3rem;

		&.active {
			color: $blue;
			background: transparent;
		}

		&:hover {
			color: $blue;
			background: transparent;
		}
	}

    .btn-sign-up {
        margin: 0;
        padding: 0.4rem 0.8rem;
        font-size: 0.875rem;
        color: #fff;
        border-color: transparent;
        background-color: theme-color("primary");

        &:hover {
            color: #fff;
            background: theme-color("primary");
        }
    }
}

// burger menu and close icon
.nav-toggle {
	height: 42px;
	width: 42px;
	padding: 10px;
	background-color: transparent;
	line-height: 1;
	cursor: pointer;
	-ms--action: manipulation;
	touch-action: manipulation;
	transition: transform 0.15s, color 0.15s;
    border: 0;

    @include media-breakpoint-up(lg) {
        display: none;
    }

    &:focus {
        outline: none;
    }

    &:hover {
        transform: scale(1.1);
    }

	// close and burger icons
	svg * {
		pointer-events: none;
		width: 26px;
		height: 26px;
		stroke: #333;
		stroke-width: 2px;
		stroke-linecap: round;
	}

    .close {
		opacity: 0
	}

    .menu-shown & {
    	border-color: transparent;
    	background-color: transparent;

    	.menu { opacity: 0 }
    	.close { opacity: 1 }

    	svg * {
    		stroke: $white;
    	}
    }
}

.site-nav-mobile .nav-toggle {
    display: none;
}

.site-nav .nav-login {
	position: absolute;
	right: 0;
	top: 0;

	.btn {
		text-transform: uppercase;
		font-size: 0.8125rem;
	}
}