.section {

    &:first-child(:not(.section-intro)) {
        margin-top: 5rem;
    }

    & + .section {
        margin-top: 4rem;

        @include media-breakpoint-up(md) {
            margin-top: 6  rem;
        }
    }
}

// section header wrap
.section-header {
    margin-bottom: 2.5rem;

    @include media-breakpoint-up(md) {
        margin-bottom: 4.5rem;
    }
}

.section-intro {
    padding: 2rem 0;
    background: $slate-gray;

    img {
        max-height: 166px;
    }
}

.section-heading {
    font-size: 1.6rem;
    color: $gray-800;
    font-weight: 400;

    @include media-breakpoint-up(lg) {
        font-size: 2rem;
    }
}

.section-heading-sm {
    font-size: 1.2rem;
    font-weight: 300;

    @include media-breakpoint-up(lg) {
        font-size: 1.6rem;
    }
}

.section-lead {
    @extend .lead;
    margin-top: 1.75rem;
    color: #888;

    @include media-breakpoint-up(lg) {
        font-size: 1.375rem;
    }
}

.front-page-cta {
    img {
        margin-bottom: 1.5rem;
    }

    a {
        display: block;
        color: $white;

        &:hover {
            text-decoration: none;
        }
    }
}

.section-locations {
    font-size: 0.875rem;
    
    h5 {
        font-size: 1rem;
        font-weight: bold;
    }
}


.contact-cta {
    color: #fff;

    .map {
        min-height: 300px;
        padding: 0;
        background: $gray-200 url(/assets/img/contact-map-small.jpg) center center no-repeat;
        background-size: cover;
    }

    .text-box {
        background-image: linear-gradient(15deg, #4658E2 2%, #2c7cea 100%);

        // TODO: Q&D solution... needs improvements for sure
        .content {
            padding-top: 2rem;
            padding-bottom: 2rem;
            text-align: center;

            @include media-breakpoint-up(md) {
                max-width: none;
                text-align: left;
                padding: 3.5rem 1rem 3.5rem 3.5rem;
            }

            @include media-breakpoint-up(xl) {
                max-width: map-get($container-max-widths, xl) / 2;
            }
        }
    }

    .btn {
        display: inline-flex;
        margin-top: 1.5rem;
        padding: 0.7rem 1.5rem;
        color: $blue;
        text-transform: uppercase;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.10);
        font-weight: 600;
        line-height: 1.6;
        font-size: 0.875rem;
    }

    .section-heading {
        margin-bottom: 1.5rem;
        color: #fff;
    }

    p {
        color: rgba(255,255,255, 0.8);
    }
}



.list-group-arrow {
    margin-left: 0 1rem;
    margin-right: 0.5rem;
    transition: transform 0.15s, color 0.15s;
}


.section-terms h3 {
    margin-top: 1.5em;
}


.job-benefits-item {
    padding: 2rem;
    text-align: center;
}