.section {

    &:first-child(:not(.section-intro)) {
        margin-top: 5rem;
    }

    & + .section {
        margin-top: 4rem;

        @include media-breakpoint-up(md) {
            margin-top: 6  rem;
        }
    }
}

// section header wrap
.section-header {
    margin-bottom: 2.5rem;

    @include media-breakpoint-up(md) {
        margin-bottom: 4.5rem;
    }
}

.section-intro {
    padding: 2rem 0;
    background: $slate-gray;

    img {
        max-height: 166px;
    }
}

.section-heading {
    font-size: 1.6rem;
    color: $gray-800;
    font-weight: 400;

    @include media-breakpoint-up(lg) {
        font-size: 2rem;
    }
}

.section-heading-sm {
    font-size: 1.2rem;
    font-weight: 300;

    @include media-breakpoint-up(lg) {
        font-size: 1.6rem;
    }
}

.section-lead {
    @extend .lead;
    margin-top: 1.75rem;
    color: #888;

    @include media-breakpoint-up(lg) {
        font-size: 1.375rem;
    }
}

.front-page-cta {
    img {
        margin-bottom: 1.5rem;
    }

    a {
        display: block;
        color: $white;

        &:hover {
            text-decoration: none;
        }
    }
}

.section-locations {
    font-size: 0.875rem;
    
    h5 {
        font-size: 1rem;
        font-weight: bold;
    }
}


.contact-cta {
    color: #fff;

    .map {
        min-height: 300px;
        padding: 0;
        background: $gray-200 url(/assets/img/contact-map-small.jpg) center center no-repeat;
        background-size: cover;
    }

    .text-box {
        background-image: linear-gradient(15deg, #4658E2 2%, #2c7cea 100%);

        // TODO: Q&D solution... needs improvements for sure
        .content {
            padding-top: 2rem;
            padding-bottom: 2rem;
            text-align: center;

            @include media-breakpoint-up(md) {
                max-width: none;
                text-align: left;
                padding: 3.5rem 1rem 3.5rem 3.5rem;
            }

            @include media-breakpoint-up(xl) {
                max-width: map-get($container-max-widths, xl) / 2;
            }
        }
    }

    .btn {
        display: inline-flex;
        margin-top: 1.5rem;
        padding: 0.7rem 1.5rem;
        color: $blue;
        text-transform: uppercase;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.10);
        font-weight: 600;
        line-height: 1.6;
        font-size: 0.875rem;
    }

    .section-heading {
        margin-bottom: 1.5rem;
        color: #fff;
    }

    p {
        color: rgba(255,255,255, 0.8);
    }
}

// team section
.team-list-container {}

.team-list {
    margin: 0;
    @extend .list-unstyled;
}

.team-member {
    position: relative;
    @include make-col-ready();
    @include make-col(12);
    margin-bottom: 1rem;

    @include media-breakpoint-up(sm) {
        @include make-col(6);
        padding: 0;
        margin: 0;
    }
    @include media-breakpoint-up(md) {
        @include make-col(4);
    }

    @include media-breakpoint-up(lg) {
        @include make-col(3);
    }

    @include media-breakpoint-up(xl) {
        @include make-col(2);
    }

    .card {
        border: none;
        transition: all 0.3s;

        &:hover {
            .card-img-overlay {
                opacity: 1;
            }
        }
    }

    .card-body {
        position: absolute;
        right: auto;
        left: 0;
        bottom: 1rem;
        padding: 0.75rem 1.5rem 0.75rem 1rem;
        background: #fff;
    }

    .card-title {
        margin-bottom: 0.5rem;
        font-size: 1.125rem;            
        color: $gray-800;
        font-weight: 400;
        line-height: 1.5rem;
    }

    .card-subtitle {
        margin-bottom: 0;
        font-size: 0.8125rem;
        font-weight: 400;
        color: $gray-600;
    }

    .card-img-overlay {
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        background-image: linear-gradient(15deg, #4658E2 2%, #2c7cea 100%);
        transition: all 0.3s;

        .card-title, .card-subtitle, .card-text {
            color: #fff;
        }
        
        .card-title {
            font-size: 1.125rem;
            text-align: center;
        }

        .card-text {
            opacity: 0.7;
            font-size: 0.875rem;
        }                    
    }
}

.team-join {
    display: flex;
    text-align: center;
    align-items: center;
    transition: border-color 0.2s;

    a {
        min-height: 15rem;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 2px solid transparent;

        &:hover {
            border-color: $blue;
            text-decoration: none;
        }
    }

    span {
        display: block;
        color: $blue;
    }
}

.list-group-arrow {
    margin-left: 0 1rem;
    margin-right: 0.5rem;
    transition: transform 0.15s, color 0.15s;
}

.job-list {
    margin: 2rem 0;

    .list-group-item {
        border-color: transparent;
        box-shadow: 0 1px 5px 0 rgba(0,0,0,.07), 0 7px 17px 0 rgba(0,0,0,.1);
    }

    .list-group-item:hover .list-group-arrow {
        transform: translateX(3px);

        path {
            fill: $blue;
        }
    }

    &-title {
        font-size: 1.125rem;
        font-weight: 400;
        color: $blue;
    }

    &-location {
        margin: 0.25rem 0 0;
        color: $text-muted;
        font-size: 0.9375rem;
    }
}


// job details page
.job-listing {
    font-size: 1.1rem;
    line-height: 1.7;
    
    h2 {
        @extend .group-heading;
        margin-top: $spacer * 3;
    }

    p, ul {

        color: $gray-700;
    }
}

.section-terms h3 {
    margin-top: 1.5em;
}


.job-benefits-item {
    padding: 2rem;
    text-align: center;
}