<footer class="page-footer" role="contentinfo">
    <div class="container d-flex justify-content-between">
        <ul class="secondary-links nav">
            <li class="nav-item">
                <a title="Privacy Link" class="nav-link" href="{{ site.baseurl }}/privacy/">Privacy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/security/">Security</a>
            </li>
        </ul>

        <div class="social-links">
            <img src="{{ site.baseurl }}/assets/img/footer/byg-garanti.gif" alt="" />
        </div>
    </div>
</footer>
