---
layout: default
page_class: page-join-us
---

<section class="section job-listing">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-8">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{ site.baseurl }}/join-us">
                            {% include icons.html name="breadcrumb-arrow" classname="mr-1" %}                            
                            All jobs
                        </a>
                    </li>
                    <li class="breadcrumb-item active">{{ page.job-title }}</li>
                </ol>

                <h1 class="section-heading mb-4 mt-4">
                    {{ page.title }}
                </h1>
                <div class="job-description section-body">
                    {{ content }}


                    {% if page.show-tech-apply == true %}
                        <h2>How to apply</h2>
                        <p>To apply just send an e-mail to <a href="mailto:{{ site.emails.jobs }}">{{ site.emails.jobs }}</a>, including the following:</p>
                        <ul>
                            <li>Updated CV or link to your LinkedIn profile</li>
                            <li>Link to Github or similar with examples of your work</li>
                        </ul>
                        <p>Contact Troels to hear more about the position on either e-mail or phone:</p>
                        <ul>
                            <li>Troels Liebe Bentsen <a href="mailto:tlb@connectedcars.io">tlb@connectedcars.io</a>, +45 51 51 18 38</li>
                        </ul>
                        <p>Note that we are only looking for onsite candidates at our location in the Copenhagen area, Denmark</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-12">
                <div class="picture-wrapper">
                    <picture>
                        <source media="(min-width: 1300px)" srcset="{{ site.baseurl }}/assets/img/photos/company-01.jpg" />
                        <source srcset="{{ site.baseurl }}/assets/img/photos/company-01-small.jpg" />
                        <img alt="People around a computer" class="lazyload" src="{{ site.baseurl }}/assets/img/photos/company-01.jpg" />
                    </picture>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-8">
                <h3 class="section-heading mb-3">About Connected Cars</h3>

                <p>Connected Cars is funded and owned by <a href="http://semler.dk">Semler Group</a>, a family owned business, the exclusive Danish importer of Audi, Volkswagen, Seat, Skoda, Porsche, Lotus, Bentley and Lamborghini.</p>

                <p>Connected cars is part of Semler Innovation together with number of other startups focusing on mobility, including <a href="https://www.letsholo.com/">holo</a> who are focusing on self-driving vehicles and <a href="https://dribe.dk/">Dribe</a>, a flexible approach to car leasing.</p>

                <p>
                    <a href="{{ site.baseurl }}/company/">
                        Continue reading
                        {% include icons.html name="link-arrow-right" %}
                    </a>
                </p>

            </div>
        </div>
    </div>
</section>
