---
layout: default
---

<div class="section section-intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-3">
                <h1 class="page-heading">
                    {{ page.title }}
                </h1>
            </div>
        </div>
    </div>
</div>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 order-lg-2">
                {{ content }}
            </div>
            <aside class="sidebar col-lg-3 order-lg-1">
                <ul class="list-unstyled">
                    <li class="mb-3">
                        <a href="/vvs/" class="editable">
                            <img src="/assets/img/sidebar/vvs.gif" alt="" />
                        </a>
                    </li>
                    <li class="mb-3">
                        <a href="/murer/" class="editable">
                            <img src="/assets/img/sidebar/murer.gif" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="/badevaerelser/" class="editable">
                            <img src="/assets/img/sidebar/bad.gif" alt="" />
                        </a>
                    </li>
                </ul>

                {% if page.hide-sidebar-contacts != true %}
                    <address>
                        <div class="editable">
                            <h5>Dysseg&aring;rd</h5>
                            <p>S&oslash;borg Hovedgade 14 A,<br />2870 Dysseg&aring;rd<br />TLF: 39653965<br /><a href="mailto:vvs@kjeldhansen.dk">vvs@kjeldhansen.dk</a></p>
                        </div>
                    </address>
                    
                    <div class="editable">
                        <h6>Butikkens &aring;bningstider</h6>
                        <p>Man-Tor: 09.00-16.30<br />Fredag: 09.00-15.00</p>
                    </div>                    
                        
                    <address>
                        <div class="editable">
                            <h5>&Oslash;sterbro afdelingen</h5>
                            <p>Randersgade 43, kld.th.<br />2100 K&oslash;benhavn &Oslash;<br />TLF: 35263438<br /><a href="mailto:vvs@kjeldhansen.dk">vvs@kjeldhansen.dk</a></p>
                        </div>
                    </address>
                    
                    <div class="editable">
                        <h6>Butikkens &aring;bningstider</h6>
                        <p>Mandag lukket<br />Tir-Tor: 15.30-16.30<br />Fredag: 15.00-16.00</p>
                    </div>
                {% endif %}

            </aside>
        </div>
    </div>
</section>
